<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rayyantech.poetry_app_ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Poets">
        <activity android:name=".activities.ContactUsActivity"></activity>
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.CriticismActivity" />
        <activity android:name=".activities.CommentActivity" />
        <activity android:name=".activities.LikesPoemProfileActivity" />
        <activity android:name=".activities.PoemProfileActivity" />
        <activity android:name=".activities.NewPostActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:parentActivityName=".activities.SignInActivity" />
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.OnBoardingActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>